<html ng-app="listaTelefonica">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <title>Lista Telefônica</title>
    <link rel="stylesheet" type="text/css" href="lib/bootstrap/bootstrap.css">
    <style>
      .jumbotron {
        width: 400px;
        text-align: center;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
      }
      .table {
        margin-top: 20px;
      }
      .form-control {
        margin-bottom: 5px;
      }
    </style>
    <script src="lib/angular/angular.js"></script>
    <script>
      angular.module("listaTelefonica", []);
      angular.module("listaTelefonica").controller("listaTelefonicaCtrl", function ($scope) {
          $scope.titulo = "Lista Telefônica";
          $scope.contatos = [
              {nome: "João", telefone: "9999-9999"},
              {nome: "Maria", telefone: "9999-9988"},
              {nome: "José", telefone: "9999-9977"}
          ];

          $scope.adicionarContato = function (contato) {
              $scope.contatos.push(angular.copy(contato));
              delete $scope.contato;
          };
      });
    </script>
  </head>

  <body ng-controller="listaTelefonicaCtrl">
    <div class="jumbotron">
      <h3>{{titulo}}</h3>
      <table class="table table-striped">
        <tr>
          <th>Nome</th>
          <th>Telefone</th>
        </tr>
        <tr ng-repeat="contato in contatos">
          <td>{{contato.nome}}</td>
          <td>{{contato.telefone}}</td>
        </tr>
      </table>

      <input class="form-control" type="text" ng-model="contato.nome" placeholder="Nome"/>
      <input class="form-control" type="text" ng-model="contato.telefone" placeholder="Telefone"/>
      <button class="btn btn-primary btn-block" ng-click="adicionarContato(contato)" ng-disabled="!contato.nome || !contato.telefone">Adicionar Contato</button>
      {{contato}}
    </div>
  </body>
</html>
